
   <!--
   <p>  
       First:  {{user.firstName}}
       UserId: {{user.userId}}
       
       <br>
       
       <button (click)="createLike(post.postId)"><img  src="../assets/P2Icons/chilli001.png" width="20" alt=""></button>
      . <span *ngFor="let post of posts | async">
           
       PostId: {{post.postId}}
       LikeCount: {{post.likeCount}}
    </span>
    
    </p>
   
        <a href="#" (click)="deleteLike(7)"  class="card-link"><i class="fa fa-gittip"></i>
            <img src="{{imgSrc}}" width="20" alt="">{{ user.firstName }} Likes </a>
       
            <p></p>
 
        <button (click)="deleteLike(22)"  class="btn btn-success"><img class="c_like c_chilli-icon" src="{{imgSrc}}" /></button>


    Grab my selector below and add to 'post' feature
    <app-like-post> </app-like-post>
--> 