
nav{
    display: none !important;
}
body{
    background-color: white !important;
}
mat-card {
      max-width: 400px;
      margin: 2em auto;
      text-align: center;
      background-image: linear-gradient(120deg, #f2b885, #731702);
    }
mat-form-field {
    display: block;
}

input {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #400601; 
    border-radius: 5px;
}

