<!-- <mat-card> <h2>Profile</h2> 
<hr/>
<div *ngIf="user">
  <div>
    <img class="profile-icon" [src]="user.profilePicture">
     <img src={{user.profile_pic}} alt="Profile Picture" width="500" height="600"> 
  </div> -->

  <!--
  <div>
    <label><b>First Name: </b></label> {{user.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{user.lastName}}
  </div>
  <div>
    <label><b>Bio: </b></label> {{user.bio}}
  </div>  
 </div> 

<br>
<br>

<button (click)="list()" class="btn btn-info">Go to User List</button><br>
-->
<!-- </mat-card> -->
   
    
    <div class="row py-5 px-4">
      <div class="col-md-5 mx-auto">
          <div class="bg-white shadow rounded overflow-hidden">
              <div class="px-4 pt-0 pb-4 cover">
                  <div class="media align-items-end profile-head">
                      <div class="profile mr-3"><img src="{{user.profilePicture}}" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                      <div class="media-body mb-5 text-white">
                          <h4 class="mt-0 mb-0">{{user.firstName}} {{user.lastName}}</h4>
                          <p class="small mb-4">{{user.username}}</p>
                      </div>
                  </div>
              </div>

              <div class="px-4 py-3">
                  <h5 class="mb-0">About</h5>
                  <div class="p-4 rounded shadow-sm bg-light">
                      <p class="font-italic mb-0">{{user.bio}}</p>
                  </div>
              </div>

              <div class="py-4 px-4">
                  <div class="d-flex align-items-center justify-content-between mb-3">
                      <h5 class="mb-0">Recent posts</h5>
                  </div>
                  <!-- <div class="row">
                      <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://spice-sm.s3.us-east-2.amazonaws.com/italy.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://spice-sm.s3.us-east-2.amazonaws.com/coconut ice cream.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://spice-sm.s3.us-east-2.amazonaws.com/sushiritto.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                      <div class="col-lg-6 pl-lg-1"><img src="https://spice-sm.s3.us-east-2.amazonaws.com/green curry from Bali.jpg" alt="" class="img-fluid rounded shadow-sm"></div>
                  </div> -->
              </div>
          </div>
          <button (click)="list()" class="btn">Go to User List</button><br>
      </div>
