@charset "utf-8";

*{
	margin: 1;
	padding: 1;
	box-sizing: content-box;
}

.nav-item{
    margin: 0 0 0 30px;
}



.navbar{
	background-color: #400601; 
    -webkit-text-fill-color: rgb(255, 255, 255);
}

button{
    background-color: white;
    -webkit-text-fill-color: #f2b885;
    -webkit-text-stroke: thin;
    -webkit-text-stroke-color: #f2b885;

}

.btn:hover{
    background-image: linear-gradient(120deg, #f2b885, #731702); 
    border: none;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: thin;
    -webkit-text-stroke-color: white;
}
body{
    background-image: linear-gradient(120deg, #f2b885, #731702); 
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

